<a href="https://colab.research.google.com/github/Debashis10/pydjango-online-course-assignment-1/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# sum of n integers

n=int(input("enter the value of n: "))
sum=0
for i in range(n+1):
  sum=sum+i
print(sum)

enter the value of n: 10
55

In [5]:
# factorial of a number:

n=int(input("enter the value of n: "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

enter the value of n: 5
120

In [7]:
# printing the pattern (a):

n=int(input())
for i in range(n+1):
  for j in range(i):
    print("*",end="")
  print()

4

*
**
***
****

In [10]:
# printing the pattern (b):

n=int(input())
m=(n+1)//2
for i in range(1,n+1):
  print(" "*int(abs(m-i))+"*"*(2*(m-abs(m-i))-1))

5
  *
 ***
*****
 ***
  *

In [16]:
# printing the pattern c

n=int(input())
for i in range(n):
  j=n-i
  sum=0
  for j in range(j):
    sum+=2**(2*j)
  print(" "*i+bin(sum).lstrip("Ob"))

4
0b1010101
 0b10101
  0b101
   0b1

In [17]:
# printing the vowels of a string:

n=input("enter the string: ")
for i in n:
  if(i=='A' or i=='E' or i=='I' or i=='O' or i=='U' or i=='a' or i=='e' or i=='i'or i=='u'):
    print(i)

enter the string: Debashis Behera
e
a
i
e
e
a

In [18]:
# sorting 

Li=[["John",34],["Arnab",21],["rahul",20],["Amam",25]]
print(sorted(Li,key=lambda x:x[1]))

[['rahul', 20], ['Arnab', 21], ['Amam', 25], ['John', 34]]